option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: mysite.wsgi:application
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: staticfiles

commands:
  01_make_data_dir:
    command: "mkdir -p /var/app/data"
  02_fix_data_permissions:
    command: "chown -R webapp:webapp /var/app/data || chown -R ec2-user:ec2-user /var/app/data"

container_commands:
  01_migrate:
    command: "python manage.py migrate --noinput"

  02_collectstatic:
    command: "python manage.py collectstatic --noinput"